openapi: 3.0.3
info:
  title: UniFi Site Manager API
  version: 1.0.0
  description: |
    UniFi Site Manager API provides programmatic access to UniFi network infrastructure.

    ## Authentication
    All requests require an API key passed via the X-API-Key header.

    ## Rate Limiting
    - v1 endpoints: 10,000 requests per minute
    - Early Access endpoints: 100 requests per minute

    ## Versioning
    - `/v1/*` - Stable, production-ready endpoints with long-term support
    - `/ea/*` - Early Access endpoints, subject to change

  contact:
    name: Aleksei Sviridkin
    email: f@lex.la
  license:
    name: BSD-3-Clause
    url: https://opensource.org/licenses/BSD-3-Clause

servers:
  - url: https://api.ui.com
    description: Production API server

security:
  - ApiKeyAuth: []

tags:
  - name: Hosts
    description: Host management operations
  - name: Sites
    description: Site management operations
  - name: Devices
    description: Device management operations
  - name: ISP Metrics
    description: ISP metrics and monitoring (Early Access)
  - name: SD-WAN
    description: SD-WAN configuration management (Early Access)

paths:
  /v1/hosts:
    get:
      summary: List all hosts
      description: |
        Retrieves a list of all hosts associated with the UI account making the API call.

        **Note**: The structure of `userData` and `reportedState` fields may vary depending on the UniFi OS or Network Server version.
      operationId: listHosts
      tags:
        - Hosts
      parameters:
        - name: pageSize
          in: query
          description: Number of items to return per page
          required: false
          schema:
            type: string
          example: "10"
        - name: nextToken
          in: query
          description: Token for pagination to retrieve the next set of results
          required: false
          schema:
            type: string
          example: "602232A8702500000000006C91AFFD0000000007D08D800000000006369FDXA2:1467082514"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/hosts/{id}:
    get:
      summary: Get host by ID
      description: Retrieves detailed information about a specific host by ID
      operationId: getHostById
      tags:
        - Hosts
      parameters:
        - name: id
          in: path
          required: true
          description: The unique identifier of the host
          schema:
            type: string
            example: "942A6FCE26520000000008A62C8000000000091C92E70000000067801E31:392959371"
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/sites:
    get:
      summary: List all sites
      description: Retrieves a list of all sites (from hosts running the UniFi Network application) associated with the UI account
      operationId: listSites
      tags:
        - Sites
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SitesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /v1/devices:
    get:
      summary: List all devices
      description: Retrieves a list of UniFi devices managed by hosts where the UI account making the API call is the owner or a super admin
      operationId: listDevices
      tags:
        - Devices
      parameters:
        - name: hostIds
          in: query
          schema:
            type: array
            items:
              type: string
          description: List of host IDs to filter the results
          style: form
          explode: true
        - name: time
          in: query
          schema:
            type: string
            format: date-time
          description: Last processed timestamp of devices in RFC3339 format
          example: "2025-06-17T02:45:58Z"
        - name: pageSize
          in: query
          schema:
            type: string
          description: Number of items to return per page
          example: "10"
        - name: nextToken
          in: query
          schema:
            type: string
          description: Token for pagination to retrieve the next set of results
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /ea/isp-metrics/{type}:
    get:
      summary: Get ISP metrics
      description: |
        Retrieves ISP metrics across all sites linked to the UI account's API key.
        Metrics availability:
        - 5-minute interval metrics: available for at least 24 hours
        - 1-hour interval metrics: available for at least 30 days
      operationId: getISPMetrics
      tags:
        - ISP Metrics
      parameters:
        - name: type
          in: path
          required: true
          description: Specifies whether metrics are returned using 5m or 1h intervals
          schema:
            type: string
            enum: ['5m', '1h']
          example: '5m'
        - name: beginTimestamp
          in: query
          schema:
            type: string
            format: date-time
          description: The earliest timestamp to retrieve data from (RFC3339 format)
          example: "2024-06-30T13:35:00Z"
        - name: endTimestamp
          in: query
          schema:
            type: string
            format: date-time
          description: The latest timestamp to retrieve data up to (RFC3339 format)
          example: "2024-06-30T15:35:00Z"
        - name: duration
          in: query
          schema:
            type: string
            enum: ['24h', '7d', '30d']
          description: |
            Specifies the time range of metrics to retrieve, starting from when the request is made.
            Supports 24h for 5-minute metrics, and 7d or 30d for 1-hour metrics.
            This parameter cannot be used with beginTimestamp or endTimestamp.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISPMetricsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /ea/isp-metrics/{type}/query:
    post:
      summary: Query ISP metrics
      description: |
        Retrieves ISP metrics data based on specific query parameters.
        Returns partialSuccess if the account lacks access to all requested sites.
      operationId: queryISPMetrics
      tags:
        - ISP Metrics
      parameters:
        - name: type
          in: path
          required: true
          description: The metric type to query
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ISPMetricsQuery'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ISPMetricsQueryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /ea/sd-wan-configs:
    get:
      summary: List SD-WAN configurations
      description: Retrieves a list of all SD-WAN configurations associated with the UI account making the API call
      operationId: listSDWANConfigs
      tags:
        - SD-WAN
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SDWANConfigsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /ea/sd-wan-configs/{id}:
    get:
      summary: Get SD-WAN configuration by ID
      description: Retrieves detailed information about a specific SD-WAN configuration by ID
      operationId: getSDWANConfigById
      tags:
        - SD-WAN
      parameters:
        - name: id
          in: path
          required: true
          description: The identifier of the SD-WAN configuration
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SDWANConfigResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

  /ea/sd-wan-configs/{id}/status:
    get:
      summary: Get SD-WAN configuration status
      description: Retrieves the status of a specific SD-WAN configuration, including deployment progress, errors, and associated hubs
      operationId: getSDWANConfigStatus
      tags:
        - SD-WAN
      parameters:
        - name: id
          in: path
          required: true
          description: The identifier of the SD-WAN configuration
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SDWANConfigStatusResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '502':
          $ref: '#/components/responses/BadGateway'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication. Obtain from unifi.ui.com API section.

  schemas:
    # Common response envelope
    SuccessResponse:
      type: object
      required:
        - data
        - httpStatusCode
        - traceId
      properties:
        data:
          type: object
          description: The actual response payload
        httpStatusCode:
          type: integer
          description: HTTP status code
          example: 200
        traceId:
          type: string
          description: Unique identifier for debugging purposes
          example: "abc123-def456-ghi789"

    ErrorResponse:
      type: object
      required:
        - code
        - httpStatusCode
        - message
        - traceId
      properties:
        code:
          type: string
          description: Machine-readable error code
          example: "UNAUTHORIZED"
        httpStatusCode:
          type: integer
          description: HTTP status code
          example: 401
        message:
          type: string
          description: Human-readable error message
          example: "Invalid API key"
        traceId:
          type: string
          description: Unique identifier for debugging purposes
          example: "abc123-def456-ghi789"

    # Host schemas
    Host:
      type: object
      required:
        - id
        - hardwareId
        - type
      properties:
        id:
          type: string
          description: Unique identifier of the host device
        hardwareId:
          type: string
          description: Hardware identifier of the device
        type:
          type: string
          description: Type of the device (console, network-server)
          enum:
            - console
            - network-server
        ipAddress:
          type: string
          description: Current IP address of the device
        owner:
          type: boolean
          description: Indicates if the current user is the owner of this device
        isBlocked:
          type: boolean
          description: Indicates if the device is blocked from cloud access
        registrationTime:
          type: string
          format: date-time
          description: Time in RFC3339 format when the device was registered to the cloud
        lastConnectionStateChange:
          type: string
          format: date-time
          description: Time in RFC3339 format when the connection state last changed
        latestBackupTime:
          type: string
          format: date-time
          description: Time in RFC3339 format of the latest device backup
        userData:
          type: object
          description: User-specific data associated with the device including permissions and role information
          properties:
            apps:
              type: array
              items:
                type: string
              description: List of installed applications
            consoleGroupMembers:
              type: array
              items:
                $ref: '#/components/schemas/ConsoleGroupMember'
              description: Console group members information
            controllers:
              type: array
              items:
                type: string
              description: List of available controllers
            email:
              type: string
              format: email
              description: User email address
            features:
              $ref: '#/components/schemas/UserDataFeatures'
            fullName:
              type: string
              description: User's full name
            localId:
              type: string
              format: uuid
              description: Local user identifier
            permissions:
              type: object
              additionalProperties:
                type: array
                items:
                  type: string
              description: User permissions per application
            role:
              type: string
              description: User role
            roleId:
              type: string
              format: uuid
              description: Role identifier
            status:
              type: string
              description: User status
        reportedState:
          type: object
          description: Device's reported state information
          properties:
            anonid:
              type: string
              format: uuid
              description: Anonymous device identifier
            apps:
              type: array
              items:
                $ref: '#/components/schemas/ReportedStateApp'
              description: Installed applications with their status and features
            autoUpdate:
              $ref: '#/components/schemas/AutoUpdateConfig'
            availableChannels:
              type: array
              items:
                type: string
              description: Available release channels
            consolesOnSameLocalNetwork:
              type: array
              items:
                type: object
              description: Other consoles on the same local network
            controller_uuid:
              type: string
              description: Controller UUID
            controllers:
              type: array
              items:
                $ref: '#/components/schemas/Controller'
              description: Installed controllers with their configuration and status
            country:
              type: integer
              description: Country code
            deviceErrorCode:
              type: string
              nullable: true
              description: Device error code if any
            deviceState:
              type: string
              description: Current device state
            deviceStateLastChanged:
              type: integer
              description: Unix timestamp when device state last changed
            directConnectDomain:
              type: string
              description: Direct connect domain for remote access
            features:
              $ref: '#/components/schemas/DeviceFeatures'
            firmwareUpdate:
              $ref: '#/components/schemas/FirmwareUpdateInfo'
            hardware:
              $ref: '#/components/schemas/HardwareInfo'
            host_type:
              type: integer
              description: Host type identifier
            hostname:
              type: string
              description: Device hostname
            internetIssues5min:
              $ref: '#/components/schemas/InternetIssues'
            ip:
              type: string
              description: Public IP address
            ipAddrs:
              type: array
              items:
                type: string
              description: List of all IP addresses assigned to the device
            isStacked:
              type: boolean
              description: Indicates if device is part of a stack
            location:
              type: object
              properties:
                lat:
                  type: number
                  description: Latitude
                long:
                  type: number
                  description: Longitude
                radius:
                  type: number
                  description: Location radius in meters
                text:
                  type: string
                  description: Location description
              description: Physical location of the device
            mac:
              type: string
              description: MAC address
            mgmt_port:
              type: integer
              description: Management port number
            name:
              type: string
              description: Device name
            releaseChannel:
              type: string
              description: Current release channel
            state:
              type: string
              description: Connection state
            timezone:
              type: string
              description: Device timezone
            uidb:
              $ref: '#/components/schemas/UidbInfo'
            unadoptedUnifiOSDevices:
              type: array
              items:
                type: object
              description: List of unadopted UniFi OS devices
            version:
              type: string
              description: UniFi OS version
            wans:
              type: array
              items:
                type: object
                properties:
                  associatedInterface:
                    type: string
                  enabled:
                    type: boolean
                  interface:
                    type: string
                  ipv4:
                    type: string
                  mac:
                    type: string
                  plugged:
                    type: boolean
                  port:
                    type: integer
                  type:
                    type: string
              description: WAN interfaces configuration

    HostsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Host'
            nextToken:
              type: string
              description: Pagination token for fetching the next set of results
              example: "602232A8702500000000006C91AFFD0000000007D08D800000000006369FDXA2:1467082514"

    HostResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/Host'

    # Site schemas
    Site:
      type: object
      properties:
        siteId:
          type: string
          description: Unique identifier of the site
        hostId:
          type: string
          description: Unique identifier of the host device managing this site
        meta:
          $ref: '#/components/schemas/SiteMeta'
        statistics:
          $ref: '#/components/schemas/SiteStatistics'
        permission:
          type: string
          description: Permission level of the current user for this site (admin, readonly, etc.)
        isOwner:
          type: boolean
          description: Indicates if the current user is the owner of this site

    SitesResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Site'
            nextToken:
              type: string
              description: Pagination token for fetching the next set of results

    # Device schemas
    Device:
      type: object
      properties:
        hostId:
          type: string
          description: Unique identifier of the host device
        hostName:
          type: string
          description: Name of the host device
        devices:
          type: array
          items:
            $ref: '#/components/schemas/DeviceItem'
          description: List of devices managed by this host
        updatedAt:
          type: string
          format: date-time
          description: Last update time in RFC3339 format
        uidb:
          $ref: '#/components/schemas/UidbInfo'

    DevicesResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/Device'
            nextToken:
              type: string
              description: Pagination token for fetching the next set of results

    # ISP Metrics schemas
    ISPMetricWanData:
      type: object
      description: WAN interface metrics data
      properties:
        avgLatency:
          type: integer
          description: Average latency in milliseconds
        download_kbps:
          type: integer
          description: Download speed in kbps
        downtime:
          type: integer
          description: Downtime duration in seconds
        ispAsn:
          type: string
          description: ISP Autonomous System Number
        ispName:
          type: string
          description: ISP name
        maxLatency:
          type: integer
          description: Maximum latency in milliseconds
        packetLoss:
          type: integer
          description: Packet loss percentage
        upload_kbps:
          type: integer
          description: Upload speed in kbps
        uptime:
          type: integer
          description: Uptime duration in seconds

    ISPMetricPeriodData:
      type: object
      description: Period-specific metrics data
      properties:
        wan:
          $ref: '#/components/schemas/ISPMetricWanData'

    ISPMetricPeriod:
      type: object
      description: Metric period information
      properties:
        data:
          $ref: '#/components/schemas/ISPMetricPeriodData'
        metricTime:
          type: string
          format: date-time
          description: Timestamp of the metric
        version:
          type: string
          description: Metric version

    ISPMetricItem:
      type: object
      description: ISP metric entry for a specific site and host
      properties:
        metricType:
          type: string
          description: Type of metric
        periods:
          type: array
          items:
            $ref: '#/components/schemas/ISPMetricPeriod'
          description: Array of metric periods
        hostId:
          type: string
          description: Host identifier
        siteId:
          type: string
          description: Site identifier

    ISPMetricsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ISPMetricItem'

    ISPMetricsQuerySiteItem:
      type: object
      description: Site query parameters
      required:
        - hostId
        - siteId
      properties:
        beginTimestamp:
          type: string
          format: date-time
          description: The earliest timestamp to retrieve data from (RFC3339 format)
        hostId:
          type: string
          description: Host identifier
        endTimestamp:
          type: string
          format: date-time
          description: The latest timestamp to retrieve data up to (RFC3339 format)
        siteId:
          type: string
          description: Site identifier

    ISPMetricsQuery:
      type: object
      description: ISP metrics query request body
      properties:
        sites:
          type: array
          items:
            $ref: '#/components/schemas/ISPMetricsQuerySiteItem'
          description: Array of sites to query with their parameters

    ISPMetricsQueryResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: object
              properties:
                message:
                  type: string
                  nullable: true
                  description: Optional message (e.g., error details)
                status:
                  type: string
                  enum: [success, partialSuccess]
                  nullable: true
                  description: Query status (partialSuccess if some sites are inaccessible)
                metrics:
                  type: array
                  items:
                    $ref: '#/components/schemas/ISPMetricItem'
                  description: Array of ISP metrics for queried sites

    # SD-WAN schemas
    SDWANSpokeSettings:
      type: object
      nullable: true
      description: Spoke standard settings values
      additionalProperties: true

    SDWANSettings:
      type: object
      description: SD-WAN configuration settings
      properties:
        hubsInterconnect:
          type: boolean
          nullable: true
          description: Enable hubs interconnect
        spokeToHubTunnelsMode:
          type: string
          description: Spoke to hub tunnels mode (scalable, etc.)
        spokesAutoScaleAndNatEnabled:
          type: boolean
          description: Enable auto-scale and NAT for spokes
        spokesAutoScaleAndNatRange:
          type: string
          description: Auto-scale and NAT IP range in CIDR format
        spokesIsolate:
          type: boolean
          description: Spoke isolation setting
        spokeStandardSettingsEnabled:
          type: boolean
          description: Enable spoke standard settings
        spokeStandardSettingsValues:
          $ref: '#/components/schemas/SDWANSpokeSettings'
        spokeToHubRouting:
          type: string
          description: Spoke to hub routing mode (geo, etc.)

    SDWANEndpoint:
      type: object
      description: SD-WAN hub or spoke endpoint configuration
      properties:
        id:
          type: string
          description: Endpoint identifier
        hostId:
          type: string
          description: Host identifier
        siteId:
          type: string
          description: Site identifier
        networkIds:
          type: array
          items:
            type: string
          description: List of networks belonging to the hub
        routes:
          type: array
          items:
            type: string
          description: Subnets in CIDR format
        primaryWan:
          type: string
          description: Primary WAN interface
        wanFailover:
          type: boolean
          description: Enable WAN failover
        hubsPriority:
          type: array
          items:
            type: string
          nullable: true
          description: Priority order of hubs (for spokes only)

    SDWANConfig:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the SD-WAN config
        name:
          type: string
          description: Name of the SD-WAN config
        type:
          type: string
          enum: [sdwan-hbsp]
          description: Type of SD-WAN config - Currently only supports sdwan-hbsp
        variant:
          type: string
          description: SD-WAN variant (single, multi, etc.)
        settings:
          $ref: '#/components/schemas/SDWANSettings'
        hubs:
          type: array
          items:
            $ref: '#/components/schemas/SDWANEndpoint'
          description: Array of hub configurations
        spokes:
          type: array
          items:
            $ref: '#/components/schemas/SDWANEndpoint'
          description: Array of spoke configurations

    SDWANConfigsResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/SDWANConfig'

    SDWANConfigResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/SDWANConfig'

    SDWANWanStatus:
      type: object
      description: WAN interface status information
      properties:
        ip:
          type: string
          description: WAN IP address
        latency:
          type: integer
          nullable: true
          description: WAN latency in milliseconds
        internetIssues:
          type: array
          items:
            type: string
          nullable: true
          description: List of internet connectivity issues
        wanId:
          type: string
          description: WAN interface identifier

    SDWANNetwork:
      type: object
      description: Network configuration in hub/spoke
      properties:
        networkId:
          type: string
          description: Network identifier
        name:
          type: string
          description: Network name
        errors:
          type: array
          items:
            type: string
          description: Network configuration errors
        warnings:
          type: array
          items:
            type: string
          description: Network configuration warnings

    SDWANRoute:
      type: object
      description: Route configuration in hub/spoke
      properties:
        routeValue:
          type: string
          description: Route in CIDR format
        errors:
          type: array
          items:
            type: string
          description: Route configuration errors
        warnings:
          type: array
          items:
            type: string
          description: Route configuration warnings

    SDWANTunnel:
      type: object
      description: Tunnel status between spoke and hub
      properties:
        spokeWanId:
          type: string
          description: Spoke WAN interface ID
        hubWanId:
          type: string
          description: Hub WAN interface ID
        status:
          type: string
          description: Tunnel status (connected, disconnected, etc.)

    SDWANConnection:
      type: object
      description: Connection from spoke to hub
      properties:
        hubId:
          type: string
          description: Hub identifier
        tunnels:
          type: array
          items:
            $ref: '#/components/schemas/SDWANTunnel'
          description: Array of tunnels to the hub

    SDWANHubStatus:
      type: object
      description: Hub deployment status
      properties:
        id:
          type: string
          description: Hub endpoint identifier
        hostId:
          type: string
          description: Host identifier
        siteId:
          type: string
          description: Site identifier
        name:
          type: string
          description: Hub name
        primaryWanStatus:
          $ref: '#/components/schemas/SDWANWanStatus'
        secondaryWanStatus:
          $ref: '#/components/schemas/SDWANWanStatus'
        errors:
          type: array
          items:
            type: string
          description: Hub configuration errors
        warnings:
          type: array
          items:
            type: string
          description: Hub configuration warnings
        numberOfTunnelsUsedByOtherFeatures:
          type: integer
          description: Number of tunnels used by other features
        networks:
          type: array
          items:
            $ref: '#/components/schemas/SDWANNetwork'
          description: Networks advertised by the hub
        routes:
          type: array
          items:
            $ref: '#/components/schemas/SDWANRoute'
          description: Routes advertised by the hub
        applyStatus:
          type: string
          description: Configuration apply status

    SDWANSpokeStatus:
      type: object
      description: Spoke deployment status
      properties:
        id:
          type: string
          description: Spoke endpoint identifier
        hostId:
          type: string
          description: Host identifier
        siteId:
          type: string
          description: Site identifier
        name:
          type: string
          description: Spoke name
        primaryWanStatus:
          $ref: '#/components/schemas/SDWANWanStatus'
        secondaryWanStatus:
          $ref: '#/components/schemas/SDWANWanStatus'
        errors:
          type: array
          items:
            type: string
          description: Spoke configuration errors
        warnings:
          type: array
          items:
            type: string
          description: Spoke configuration warnings
        numberOfTunnelsUsedByOtherFeatures:
          type: integer
          description: Number of tunnels used by other features
        networks:
          type: array
          items:
            $ref: '#/components/schemas/SDWANNetwork'
          description: Networks advertised by the spoke
        routes:
          type: array
          items:
            $ref: '#/components/schemas/SDWANRoute'
          description: Routes advertised by the spoke
        connections:
          type: array
          items:
            $ref: '#/components/schemas/SDWANConnection'
          description: Connections from spoke to hubs
        applyStatus:
          type: string
          description: Configuration apply status

    SDWANConfigStatus:
      type: object
      description: SD-WAN configuration deployment status
      properties:
        id:
          type: string
          description: SD-WAN configuration identifier
        fingerprint:
          type: string
          description: Configuration fingerprint
        updatedAt:
          type: integer
          format: int64
          description: Last update timestamp
        hubs:
          type: array
          items:
            $ref: '#/components/schemas/SDWANHubStatus'
          description: Hub deployment statuses
        spokes:
          type: array
          items:
            $ref: '#/components/schemas/SDWANSpokeStatus'
          description: Spoke deployment statuses
        lastGeneratedAt:
          type: integer
          format: int64
          description: Last generation timestamp
        generateStatus:
          type: string
          description: Generation status
        errors:
          type: array
          items:
            type: string
          description: Configuration-level errors
        warnings:
          type: array
          items:
            type: string
          description: Configuration-level warnings

    SDWANConfigStatusResponse:
      allOf:
        - $ref: '#/components/schemas/SuccessResponse'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/SDWANConfigStatus'

    # Typed schemas for ReportedState nested structures

    ReportedStateApp:
      type: object
      properties:
        controllerStatus:
          type: string
          description: Controller status
        features:
          type: object
          additionalProperties:
            type: boolean
          description: App features map
        flags:
          type: array
          items:
            type: string
          description: App flags
        identityFeatures:
          type: object
          properties:
            hostingIdentityHubScore:
              type: integer
            standard:
              type: boolean
            ucs:
              type: boolean
            ucsAgent:
              type: boolean
            ucsRemoteAccessViaUOS:
              type: boolean
            unifiedAdminsUsersPage:
              type: boolean
        identityState:
          type: object
          properties:
            enterpriseActivated:
              type: boolean
            migrationNeeded:
              type: boolean
            migrationStatus:
              type: string
            migrationStatusMessage:
              type: string
            organizationManaged:
              type: boolean
            standardActivated:
              type: boolean
            ucsActivated:
              type: boolean
            ucsAgentActivated:
              type: boolean
            ucsAgentVersion:
              type: string
            ucsSetuped:
              type: boolean
            ucsVersion:
              type: string
            usersOrAdminsExist:
              type: boolean
        isConfigured:
          type: boolean
        isInstalled:
          type: boolean
        isRunning:
          type: boolean
        name:
          type: string
        port:
          type: integer
        prefetch:
          type: array
          items:
            type: string
          description: Prefetch resources list
        swaiVersion:
          type: integer
          description: SWAI version number
        type:
          type: string
          description: App type
        uiIcon:
          type: string
          description: UI icon path
        uiVersion:
          type: string
          description: UI version
        version:
          type: string
          description: App version

    AutoUpdateConfig:
      type: object
      properties:
        includeApplications:
          type: boolean
        preferencesPrompt:
          type: boolean
          nullable: true
        schedule:
          type: object
          properties:
            frequency:
              type: string
              description: Update frequency (daily, weekly, etc.)
            hour:
              type: integer
              description: Hour of day for updates (0-23)

    Controller:
      type: object
      properties:
        controllerStatus:
          type: string
        features:
          type: object
          additionalProperties:
            type: boolean
        handledRequirements:
          type: object
          additionalProperties: true
        initialDeviceListSynced:
          type: boolean
        installState:
          type: string
          description: Installation state (updateFailed, uninstalled, etc.)
        integrationApis:
          type: array
          items:
            type: object
            properties:
              apiDocsLocation:
                type: string
              name:
                type: string
              version:
                type: string
        isConfigured:
          type: boolean
        isInstalled:
          type: boolean
        isRunning:
          type: boolean
        name:
          type: string
          description: Controller name (network, protect, access, etc.)
        port:
          type: integer
        prefetch:
          type: array
          items:
            type: string
        releaseChannel:
          type: string
          description: Release channel (release, beta, etc.)
        required:
          type: boolean
        state:
          type: string
          description: Controller state (active, inactive)
        status:
          type: string
          description: Status (ok, offline)
        statusMessage:
          type: string
        swaiVersion:
          type: integer
        type:
          type: string
          description: Controller type
        uiVersion:
          type: string
        unadoptedDevices:
          type: array
          items: {}
        updatable:
          type: boolean
        updateAvailable:
          type: string
          nullable: true
          description: Version available for update
        updateProgress:
          type: integer
          description: Update progress percentage
        updateSchedule:
          type: object
          properties:
            frequency:
              type: string
            hour:
              type: integer
        version:
          type: string
        versionRaw:
          type: string
          description: Raw version string

    HardwareInfo:
      type: object
      properties:
        bom:
          type: string
          description: Bill of materials number
        cpu.id:
          type: string
          description: CPU identifier
        debianCodename:
          type: string
          description: Debian codename
        firmwareVersion:
          type: string
        hwrev:
          type: integer
          description: Hardware revision
        mac:
          type: string
          description: MAC address
        name:
          type: string
          description: Hardware model name
        qrid:
          type: string
          description: QR code identifier
        reboot:
          type: string
          description: Reboot duration in seconds
        serialno:
          type: string
          description: Serial number
        shortname:
          type: string
          description: Short model name (e.g., UDR7)
        subtype:
          type: string
        sysid:
          type: integer
          description: System identifier
        upgrade:
          type: string
          description: Upgrade duration in seconds
        uuid:
          type: string
          format: uuid
          description: Hardware UUID

    DeviceFeatures:
      type: object
      properties:
        alarmManager:
          type: boolean
        apiIntegration:
          type: boolean
        applications:
          type: object
          properties:
            access:
              type: object
              properties:
                mspPlayback:
                  type: boolean
        captiveProxy:
          type: boolean
        cloud:
          type: object
          properties:
            applicationEvents:
              type: boolean
            applicationEventsHttp:
              type: boolean
            ucp4GuestConnection:
              type: boolean
        cloudBackup:
          type: boolean
        customSmtpServer:
          type: boolean
        deviceList:
          type: object
          properties:
            autolinkDevices:
              type: boolean
            partialUpdates:
              type: boolean
            ucp4Events:
              type: boolean
        directRemoteConnection:
          type: boolean
        hasBezel:
          type: boolean
        hasGateway:
          type: boolean
        hasLCM:
          type: boolean
        hasLED:
          type: boolean
        identity:
          type: object
          properties:
            hostingIdentityHubScore:
              type: integer
            standard:
              type: boolean
            ucs:
              type: boolean
            ucsAgent:
              type: boolean
            ucsRemoteAccessViaUOS:
              type: boolean
            unifiedAdminsUsersPage:
              type: boolean
        infoApis:
          type: object
          properties:
            firmwareUpdate:
              type: boolean
        isAutomaticFailoverAvailable:
          type: boolean
        led:
          type: object
          properties:
            canSetColor:
              type: boolean
        mfa:
          type: boolean
        mspBridgeModesSupported:
          type: boolean
        netInAppBackupSupport:
          type: boolean
        notifications:
          type: boolean
        sharedTokens:
          type: boolean
        snmpConfig:
          type: boolean
        supportForm:
          type: boolean
        syslog:
          type: boolean
        teleport:
          type: boolean
        teleportState:
          type: string
        uidService:
          type: boolean
        updates:
          type: object
          properties:
            applicationReleaseChannels:
              type: boolean
            applicationSchedules:
              type: boolean

    FirmwareUpdateInfo:
      type: object
      properties:
        latestAvailableVersion:
          type: string
          nullable: true
          description: Latest firmware version available

    InternetIssues:
      type: object
      properties:
        periods:
          type: array
          items:
            type: object
            properties:
              index:
                type: integer
                description: Time period index

    UidbInfo:
      type: object
      properties:
        guid:
          type: string
          format: uuid
          nullable: true
        iconId:
          type: string
          format: uuid
        id:
          type: string
          format: uuid
        images:
          type: object
          additionalProperties:
            type: string
          description: Image hash map

    DeviceItem:
      type: object
      description: Individual device information
      properties:
        adoptionTime:
          type: string
          format: date-time
          description: Time when device was adopted
        firmwareStatus:
          type: string
          description: Firmware status (upToDate, updateAvailable, etc.)
        id:
          type: string
          description: Device ID (usually MAC address)
        ip:
          type: string
          description: Device IP address
        isConsole:
          type: boolean
          description: Whether this device is a console
        isManaged:
          type: boolean
          description: Whether this device is managed
        mac:
          type: string
          description: Device MAC address
        model:
          type: string
          description: Device model name
        name:
          type: string
          description: Device name
        note:
          type: string
          nullable: true
          description: User-defined note
        productLine:
          type: string
          description: Product line (network, protect, access, etc.)
        shortname:
          type: string
          description: Short model name
        startupTime:
          type: string
          format: date-time
          description: Last startup time
        status:
          type: string
          description: Device status (online, offline, etc.)
        uidb:
          $ref: '#/components/schemas/UidbInfo'
        updateAvailable:
          type: string
          nullable: true
          description: Available update version if any
        version:
          type: string
          description: Current firmware version

    UserDataFeatures:
      type: object
      properties:
        deviceGroups:
          type: boolean
        floorplan:
          type: object
          properties:
            canEdit:
              type: boolean
            canView:
              type: boolean
        manageApplications:
          type: boolean
        notifications:
          type: boolean
        webrtc:
          type: object
          properties:
            iceRestart:
              type: boolean
            mediaStreams:
              type: boolean
            mediaStreamsAV1:
              type: boolean
            mediaStreamsH265:
              type: boolean
            twoWayAudio:
              type: boolean

    ConsoleGroupMember:
      type: object
      properties:
        mac:
          type: string
        role:
          type: string
        roleAttributes:
          type: object
          properties:
            applications:
              type: object
              additionalProperties:
                type: object
                properties:
                  owned:
                    type: boolean
                  required:
                    type: boolean
                  supported:
                    type: boolean
            candidateRoles:
              type: array
              items:
                type: string
            connectedState:
              type: string
            connectedStateLastChanged:
              type: string
              format: date-time
        sysId:
          type: integer

    SiteMeta:
      type: object
      properties:
        desc:
          type: string
          description: Site description
        gatewayMac:
          type: string
          description: Gateway MAC address
        name:
          type: string
          description: Site name
        timezone:
          type: string
          description: Site timezone

    SiteStatistics:
      type: object
      properties:
        counts:
          type: object
          properties:
            criticalNotification:
              type: integer
            gatewayDevice:
              type: integer
            guestClient:
              type: integer
            lanConfiguration:
              type: integer
            offlineDevice:
              type: integer
            offlineGatewayDevice:
              type: integer
            offlineWifiDevice:
              type: integer
            offlineWiredDevice:
              type: integer
            pendingUpdateDevice:
              type: integer
            totalDevice:
              type: integer
            wanConfiguration:
              type: integer
            wifiClient:
              type: integer
            wifiConfiguration:
              type: integer
            wifiDevice:
              type: integer
            wiredClient:
              type: integer
            wiredDevice:
              type: integer
        gateway:
          type: object
          properties:
            hardwareId:
              type: string
              format: uuid
            inspectionState:
              type: string
              description: Inspection state (off, on, etc.)
            ipsMode:
              type: string
              description: IPS mode (ids, ips, etc.)
            ipsSignature:
              type: object
              properties:
                rulesCount:
                  type: integer
                type:
                  type: string
                  description: Signature type (ET, etc.)
            shortname:
              type: string
              description: Gateway model shortname
        internetIssues:
          type: array
          items: {}
          description: List of internet issues
        ispInfo:
          type: object
          properties:
            name:
              type: string
              description: ISP name
            organization:
              type: string
              description: ISP organization
        percentages:
          type: object
          properties:
            txRetry:
              type: number
              description: TX retry percentage
            wanUptime:
              type: number
              description: WAN uptime percentage
        wanMagic:
          type: object
          properties:
            available:
              type: boolean
            enabled:
              type: boolean
            subscribed:
              type: boolean
        wans:
          type: object
          additionalProperties:
            type: object
            properties:
              externalIp:
                type: string
                description: External IP address
              ispInfo:
                type: object
                properties:
                  name:
                    type: string
                  organization:
                    type: string
              wanIssues:
                type: array
                items: {}
              wanUptime:
                type: number
                description: WAN uptime percentage

  responses:
    BadRequest:
      description: Bad request - malformed request syntax
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: "BAD_REQUEST"
            httpStatusCode: 400
            message: "Invalid request parameters"
            traceId: "abc123"

    Unauthorized:
      description: Unauthorized - invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: "UNAUTHORIZED"
            httpStatusCode: 401
            message: "Invalid API key"
            traceId: "abc123"

    NotFound:
      description: Not found - requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: "NOT_FOUND"
            httpStatusCode: 404
            message: "Resource not found"
            traceId: "abc123"

    RateLimited:
      description: Too many requests - rate limit exceeded
      headers:
        Retry-After:
          description: Number of seconds to wait before retrying
          schema:
            type: integer
          example: 5
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: "RATE_LIMIT"
            httpStatusCode: 429
            message: "Rate limit exceeded"
            traceId: "abc123"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: "INTERNAL_ERROR"
            httpStatusCode: 500
            message: "Internal server error"
            traceId: "abc123"

    BadGateway:
      description: Bad gateway - upstream service error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            code: "BAD_GATEWAY"
            httpStatusCode: 502
            message: "Upstream service unavailable"
            traceId: "abc123"
